@import "./../../assets/styles/abstracts";

.btn {
  display: flex;
  align-items: center;
  gap: rem(3);
  padding: rem(11) rem(20);
  text-shadow: none;
  font-size: rem(10);
  //color: $main-button-text-area-color;
  cursor: pointer;
  font-weight: 500;
  background-color: $button-color;
  will-change: opacity, transform;
  border-radius: $btn-border-radius!important;
  outline: none;
  border: none;
  font-family: $font-medium;
  @include transition(all, 0.3s, ease-out);

  &:hover {
    box-shadow: none;
  }

  &--primary {
    color: $button-text-color !important;
    background-color: $primary-button-color !important;
    border-color: $primary-button-color;
  }

  &--add-primary{
    color: $button-text-color !important;
    background-color: $btn-bg !important;
    border-color: $btn-bg !important;
  }

  &--info {
    color: $button-text-color !important;
    background-color: $info-button-color;
    border-color: $info-button-color;
  }

  &--success {
    color: $button-text-color !important;
    background-color: $success-button-color;
    border-color: $success-button-color;
  }

  &--restart{
    background-color: $upload-button-color !important;
    color: $btn-bg !important;
  }

  &--warning {
    color: $button-text-color !important;
    background-color: $warning-button-color;
    border-color: $warning-button-color;
  }

  &--danger {
    color: $button-text-color !important;
    background-color: $danger-button-color;
    border-color: $danger-button-color;
  }

  &--secondary {
    color: $button-text-color !important;
    background-color: $secondary-button-color;
    border-color: $secondary-button-color;
  }

  &--dark {
    color: $button-text-color !important;
    background-color: $dark-button-color !important;
    border-color: $dark-button-color !important;
  }

  &--gray {
    color: $gray-button-text-color !important;
    background-color: $btn-bg-light;
  }



  &--cancel {
    background-color: $bg-color-btn-cancel !important;
    color: $white !important;
  }

  &--outline{
    border: 1px solid;
  }

  &--outline-primary {
    color: $btn-bg !important;
    background-color: $white !important;
    border: rem(1) solid $blue !important;
  }

  &--outline-info {
    color: $button-text-color !important;
    background-color: $info-button-color;
    border-color: $info-button-color;
  }

  &--outline-success {
    color: $button-text-color !important;
    background-color: $success-button-color;
    border-color: $success-button-color;
  }

  &--outline-warning {
    color: $button-text-color !important;
    background-color: $warning-button-color;
    border-color: $warning-button-color;
  }

  &--outline-danger {
    color: $button-text-color !important;
    background-color: $danger-button-color !important;
    border-color: $danger-button-color !important;
  }

  &--outline-secondary {
    color: $button-text-color !important;
    background-color: $secondary-button-color;
    border-color: $secondary-button-color;
  }

  &--edit{
    background-color: $white !important;
    color: $gray-dark !important;
    border: 1px solid $border-btn !important;
  }

  &--outline-dark {
    color: $purple-txt-primary !important;
    background-color: $white !important;
    border-color: $dark-button-color;
  }

  &--rounded {
    border-radius: rem(50) !important;
    padding: rem(8) rem(15);
  }

  &--rounded-circle {
    height: rem(40);
    width: rem(40);
    padding: rem(8) rem(8);
  }
  &--size-xs {
    font-size: rem(9);
  }
  &--size-sm {
    font-size: rem(10);
    padding: rem(14) rem(20);
  }
  &--size-md {
    font-size: rem(12);
  }
  &--size-lg {
    font-size: rem(14);;
  }
  &--size-xl {
    font-size: rem(16);;
  }
  &--disabled{
    opacity: 0.5;
    cursor: default;
  }
  &--pale {
    background-color: rgba(19, 131, 219, 0.1);
    color: $blue-light;
  }
}
