@import "../../assets/styles/abstracts";


.tab-wrapper{
  width: 100%;
  &__header{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid $tab-border-bottom;
    margin-bottom: 0;
  }
  &__contents{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
