@import "../../../../assets/styles/abstracts";

.tab-header{
  cursor: pointer;
  font-family: $font-light;
  font-size: 11px;
  color: #727789;
  &.active{
    border-bottom: 2px solid $blue-light;
    color: $blue-light;
    font-family: $font-semi-bold;
  }
}
